<div class="row"  >
  <div class="col-sm-1 col-md-1 col-lg-1">
    <br />
  </div>
  <div class="col-sm-1 col-md-1 col-lg-1">
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <button class="btn btn-outline-primary btn-block" (click)="showChart(5)">1 Week</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(22)">1 Month</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(65)">3 Months</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(129)">6 Months</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(261)">1 Year</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(522)">2 Years</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(786)">3 Years</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(1304)">5 Years</button>
      <button class="btn btn-outline-primary btn-block" (click)="showChart(9999)">Max</button>
    </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div>
      <br />
      <p class="font-italic font-weight-bold">
        <span style="font-size:30px;">{{fundName}}&nbsp;&nbsp;</span>
        <span *ngIf="isIncreased" style="font-size:20px; color: green;">&#9650;</span>
        <span *ngIf="isIncreased" style="font-size:35px; color: green;">{{latestNAV}}&nbsp;&nbsp;</span>
        <span *ngIf="!isIncreased" style="font-size:20px; color: red;">&#9660;</span>
        <span *ngIf="!isIncreased" style="font-size:35px; color: red;">{{latestNAV}}&nbsp;&nbsp;</span>
        as on {{latestDate}}</p>
      <br />
      <br />
    </div>
    <div style="width: 90%;">
      <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="myColors"
          [legend]="true"
          (chartClick)="onChartClick($event)">
      </canvas>
    </div>
  </div>
  <div class="col-sm-2 col-md-2 col-lg-2">
    <br />
  </div>
</div>
